<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
    <h1>koa2 demo index page</h1>
    <p>this is a index page</p>
    <ul>
      <li><a href="/">/</a></li>
      <li><a href="/router/index">/index</a></li>
      <li><a href="/router/todo">/router/todo</a></li>
      <li><a href="/router/404">/router/404</a></li>
      <li><a href="/nofund">/nofund</a></li>
    </ul>
</body>
</html>